body {
    font-family: Arial;
    font-size: 17px;
    /*padding: 8px;*/
    background-color: #faebd7;
  }
  
  * {
    box-sizing: border-box;
  }
  

  .navbar {
    overflow: hidden;
    background-color: #281e61;
    font-family: Arial;
    display: flex;
    flex-direction: row-reverse;
    height: 60px;

  }
  
 

  .navbar a {
      padding: 20px 16px;
      padding-left: 30px;
      padding-right: 30px;
       display: inline-block;
      color: white;
      font-size: 18px;
      text-align : center;
      text-decoration: none;

  }
  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9b8ed4;
  }


  .titre{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: Palatino;
    font-weight: bold;
    color: #281e61;
  }

  .tableau{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Palatino;
    font-weight: bold;
    color: #281e61;
  }

  .wrapper {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
  }
  

  .tasks{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 800px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .tasks a{
    background-color: #c4bee7af;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
  }
  
 